:root {
    --extra-light-gray: #d0d0d0;
    --light-gray: #aaaaaa;
    --med-gray: #858585;
    --dark-gray: #626262;
    --coral: #ff928b;
    --orange: #ffb165;
    --green: #cfe561;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

button {
    background-color: transparent;
    color: var(--dark-gray);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

button:hover {
    color: var(--med-gray);
  }

.play-pause-button {
    font-size: 40px;
    margin: 20px;
}

svg text {
    cursor: default;
}
