:root {
    --extra-light-gray: #d0d0d0;
    --light-gray: #aaaaaa;
    --med-gray: #858585;
    --dark-gray: #626262;
    --coral: #ff928b;
    --orange: #ffb165;
    --green: #cfe561;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    position: relative;
}

svg text {
    cursor: default;
}

button {
    background-color: transparent;
    color: var(--dark-gray);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

button:hover {
    color: var(--med-gray);
  }

input[type="range"] {
    vertical-align: middle;
    padding: 10px;
}

label {
    vertical-align: middle;
    font-size: 20px;
    padding: 10px;
}

#play-pause-button {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    font-size: 3rem;
}

#speed-slider {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 1;
}
